@media (min-width: 768px)  {

    .section-title{
        font-size: 3.5rem;
    }

    .welcome-section {
        .home-title{
            h1{
                font-size: 7rem;
            }
        }
    }
}

    .about-me {
        p {
            font-size: 2rem;
        }
    }